html, body{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #f0f0f0;
   padding: 0;
   margin: 0;
}

#menu {
   position: fixed;
   background-color: #f0f0f0;
   width: 100%;
   height: 100px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 40px;
}

#logo{
   width: auto;
   height: 120px;
}

#opciones_menu {
   list-style: none;
   display: flex;
   gap: 30px;
   margin: 0;
   padding: 0;
}

.opcion {
   text-decoration: none;
   color: #5c5b5b;
   font-weight: 600;
}

#pie_pagina {
   width: 100%;
   background-color: #f0f0f0; 
   border-top: 1px solid #ccc;  
   padding: 20px 0;
   font-size: 14px;
   color: #333;
}

.desarroladores {
   list-style: none;
   padding: 0;
   margin: 10px 0 0 0;
}

#desarrollador {
   margin: 5px 0;
}


